//Color Variables

$color-white: #fff;
$color-black: #000;
$color-grey: #626687;
$color-grey-light: #e0e3eb;
$color-grey-light-1: #eceff8;
$color-navy-blue: #1b1c57;
$color-primary: #10b981;
$color-primary-light: #d1fae5;
$color-secondary: #f59e0b;
$color-red: #fee2e2;
$color-red-danger: #ef4444;
$color-info: #dbeafe;
$color-info-dark: #1d4ed8;
