.toastMessage {
  width: 30rem;
  background-color: $color-white;
  box-shadow: 0 0 1rem 0 $color-grey-light;
  border-radius: 1.5rem;
  @include flex-centre();
  justify-content: flex-start;
  gap: 1rem;
  padding: 1rem;
  top: 3%;
  left: 38%;
  // right: 1%;
  z-index: 40;
  position: fixed;
  @include addToastMessageAnimation();

  //Responsive Tab-Landscape 900px
  @include respond(tab-port) {
    left: 25%;
  }

  //Responsive Phone 600px
  @include respond(phone) {
    left: 20%;
  }

  &__content {
    max-width: 80%;
    position: relative;
    @include flex-centre(column);
    justify-content: flex-start;

    &--heading {
      text-align: left;
      font-size: 1.5rem;
      color: $color-navy-blue;
      align-self: flex-start;
      padding: 0.5rem;
    }

    &--message {
      text-align: left;
      font-size: 1rem;
      align-self: flex-start;
      color: $color-grey;
      padding: 0.5rem;
    }
  }

  //   &__close {
  //     position: absolute;
  //     top: 1;
  //     left: 1;
  //     margin: 1rem;
  //   }
}

.toastDisable {
  @include removeToastMessageAnimation();
  visibility: hidden;
}
